*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
}

.container h1 {
    color: black;
    margin: 30px;
}

canvas {
    border: 3px solid black; 
    background-color: white;
    margin: 20px;

}

.color{
    background-color: gray;
    margin : 20px;
    position: absolute;
    bottom: 3px;
    left: 420px;
}

html button {
    width: 200px;
    height: 50px;
    background-color: gray;
    color: black;
    box-shadow: 5px 5px 25px rgb(144, 144, 144);
    margin-bottom: 20px;
    font-size: 30px;
}